.panel
    background-color: $panel-color
    width: 95%
    height: 100%
    padding: 3%
    padding-top: 2%
    transition: all .4s
    @media only screen and (max-width: 600px)
        width: 100%
    &__container
        height: 40%
        margin-bottom: 50px
        display: flex
        align-items: center
        flex-wrap: wrap
        